.ccard{
	border-radius: 10px;
}

table {
  color: var(--tc3);
}

table tr th{
	background: var(--tc1);
  text-transform: uppercase;
  color: #fff;
}
table tr th,
table tr td {
  font-size: 15px;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  /*width: 40%;*/
}

table tr th:nth-child(1),
table tr td:nth-child(1){
	/*padding-right: 0;*/
  width: 25%;
}

table tr th:nth-child(2),
table tr td:nth-child(2){
  /*width: 50%;*/
}

table tr th:nth-child(3),
table tr td:nth-child(3){
	/*text-align: right;*/
	/*padding-left: 0;*/
  /*width: 25%;*/
}

table tr th:nth-child(4),
table tr td:nth-child(4){
	/*text-align: right;*/
	/*padding-left: 0;*/
  /*width: 25%;*/
}

.cform-group{
	/*padding-left: 0;*/
	margin: 0 !important;
}

.item_search{
	padding: 0;
	
	ion-item{
		--background: #f2f2f2;
		--padding-start: 20px;	
		--padding-end: 20px;	

		ion-label{
			/*font-weight: bold !important;*/
		}
	}
}

.sidemenu{
	background: #3e5858;
	top: 0;
	left: 0;
	z-index: 10;
	height: 100vh;

	.cform-group{
		padding: 0;
		background: #3e5858;
		/*border-bottom: 1px solid #129d9e;*/
		margin-bottom: 0;

		ion-item {
	    --padding-start: 20px;
  	}

  	input{
  		color: #fff;
  		width: 100%;
  		padding: 10px 20px;
  		background: #3a3a3a;
  	}
	}

	&> div{
		a{
			font-size: 15px;
	    display: block;
	    padding: 15px 20px;
	    border-bottom: 1px solid #3a3a3a;
	    color: #ffffff;
	    transition: all .2s linear;
			
			&:hover{
				background: #2a2a2a;
				cursor: pointer;
			}
		}

	}
}

.listing_header{
	margin: 20px 0 0px 0;
	border-bottom: 1px solid #ccc;
	padding-bottom: 0px;

	h1{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 5px;
		font-weight: bold;
		color: var(--tc1);
	}

	span{
		font-size: 15px;
		line-height: 17px;
	}
}

ion-slides{
	width: 100%;
	height: 100%;

	 div{
		height: 100%;
		width: 100%;

		img{
			width: 100%;
			height: 100%;
			object-position: center;
			object-fit: cover;
		}
	}
}

.swiper-pagination-bullet {
  background: #fff;
  width: 15px !important;
  height: 15px !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--tc1);
  box-shadow: 0 0 5px #fff
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 25px !important;
}

.cust_info{
	/*position: relative;
	display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: space-between;

  &> div{
  	padding: 1vw;
  }

  &> div:nth-child(1),
  &> div:nth-child(2),
  &> div:nth-child(3){
  	border-bottom: 1px solid #ccc;
  }*/

  position: relative;

	span{
		display: block;
		width: 100%;
		color: var(--tc3);
		padding-top: .5vw;
		padding-bottom: .5vw;
		border-bottom: 1px solid #ccc;
		font-size: 13px;
	}

}
.cust_info:nth-child(1),
.cust_info:nth-child(2),
.cust_info:nth-child(3){
	display: none;
	span{
	}
}

.listing_slider{
	position: relative;

	ion-slide{
		flex-direction: column;

		img{
			display: block;
		}
		p{
			margin-top: 10px;
			display: block;
			text-align: right;
			font-size: 14px;
			width: 100%;
		}
	}
}