<ion-content>
	<div class="bctc1 df fdc jcfs aifs" style="padding: 0 0 10px 50px; margin-bottom: 0;">
	  <img src="../assets/logo-white.png" class="db" style="max-width: 250px;" />
	</div>

  <div class="df aic jcc" style="ddisplay: none !important;">
    <div class="listing_wrapper mx-auto" style="width: 90%; height: 100%;">

    	<div>
				<form [formGroup]="frmVatUpdate">
					<div class="widthb100 df fww jcsb ccard pt0 tl0 pb1 pr0 mt2 mb1">
						<div class="cform-group widthb33 dib">
	  				  <ion-item>
	  				    <ion-label position="">VAT</ion-label>
	  				    <ion-input type="text" formControlName="vat"></ion-input>
	  				  </ion-item>
	  				</div>

	  				<div class="cform-group widthb33 dib">
	  				  <ion-item>
	  				    <ion-label position="">Main CR #</ion-label>
	  				    <ion-input type="text" formControlName="maincr"></ion-input>
	  				  </ion-item>
	  				</div>

	  				<div class="cform-group widthb33 dib">
	  				  <ion-item>
	  				    <ion-label position="">Branch CR #</ion-label>
	  				    <ion-input type="text" formControlName="branchcr"></ion-input>
	  				  </ion-item>
	  				</div>

	  				<div class="cform-group widthb33 dib">
	  				  <ion-item>
	  				    <ion-label position="">COC #</ion-label>
	  				    <ion-input type="text" formControlName="coc"></ion-input>
	  				  </ion-item>
	  				</div>

	  				<div class="cform-group widthb33 dib">
	  				  <ion-item>
	  				    <ion-label position="">Baldiya #</ion-label>
	  				    <ion-input type="text" formControlName="baldiya"></ion-input>
	  				  </ion-item>
	  				</div>

	  				<div class="cform-group widthb33 dib">
	  				  <ion-item>
	  				    <ion-label position="">National Address</ion-label>
	  				    <ion-input type="text" formControlName="address"></ion-input>
	  				  </ion-item>
	  				</div>
					</div>
				</form>
			</div>

			<div class="ccard mb2 ofh">
				<!-- <h1> Customer Number </h1> -->
				<div class="p1 widthb40 fl">
					<div class="cform-group widthb100 dib item_search">
					  <ion-item>
					    <ion-label position="floating">Search by Customer#</ion-label>
					    <ion-input type="text"></ion-input>
					  </ion-item>
					</div>
					<table class="widthb100">
						<thead>
							<tr>
								<th> Cust. Number </th>
								<th> Cust. Name </th>
								<th> اسم الزبون  </th>
							</tr>
						</thead>
					</table>

					<div  class="widthb100" style="height: 300px; overflow: auto;">
						<table class="widthb100 table-striped">
							<!-- <thead>
								<tr>
									<th> Customer Number </th>
									<th> Customer Name </th>
									<th> اسم الزبون  </th>
								</tr>
							</thead> -->
							<tbody>
								<tr *ngFor="let customer of customers_raw" (click)="fetch_img(customer.CUST_NUMBER)">
									<td>
										<span>
											{{customer.CUST_NUMBER}}
										</span>
									</td>

									<td>
										<span>
											{{customer.CUST_NAME}}
										</span>
									</td>

									<td>
										<span>
											{{customer.CUST_NAME_AR}}
										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="p1 widthb30 fl">
					<ion-slides pager>
					  <ion-slide>
					  	<div>
					  		<img src="{{customer_info.images.BALADIYA_CERT_IMG}}" style="max-width: 100%;" />
					  	</div>
					  </ion-slide>
				    
				    <ion-slide>
				    	<div>
				  			<img src="{{customer_info.images.BR_CR_CERT_IMG}}" style="max-width: 100%;" />
				    	</div>
				    </ion-slide>
			      
			      <ion-slide>
			      	<div>
			    			<img src="{{customer_info.images.MAIN_CR_CERT_IMG}}" style="max-width: 100%;" />
			      	</div>
			      </ion-slide>
		        
		        <ion-slide>
		        	<div>
		      			<img src="{{customer_info.images.NATIONAL_ADD_IMG}}" style="max-width: 100%;" />
		        	</div>
		        </ion-slide>
	          
	          <ion-slide>
	          	<div>
	        			<img src="{{customer_info.images.VAT_CERT_IMG}}" style="max-width: 100%;" />
	          	</div>
	          </ion-slide>
            
            <ion-slide>
            	<div>
          			<img src="{{customer_info.images.COC_CERT_IMG}}" style="max-width: 100%;" />
            	</div>
            </ion-slide>
					</ion-slides>
				</div>

				<div class="p1 widthb30 fl">
					<table class="" style="width: 100%; border-collapse: collapse;">
						<tr>
							<td> <b class="tc1">Classification</b> </td>
							<td> {{customer_info.classficiation}} </td>
						</tr>
						<tr>
							<td> <b class="tc1">City</b> </td>
							<td> {{customer_info.city}} </td>
						</tr>
						<tr>
							<td> <b class="tc1">Sales Rep. Name</b> </td>
							<td> {{customer_info.salesRepName}} </td>
						</tr>
						<tr>
							<td> <b class="tc1">Sales Rep Number</b> </td>
							<td> {{customer_info.salesRepNumber}} </td>
						</tr>
						<tr>
							<td> <b class="tc1">Agency Category</b> </td>
							<td> {{customer_info.agencyCat}} </td>
						</tr>
						<tr>
							<td> <b class="tc1">Division</b> </td>
							<td> {{customer_info.division}} </td>
						</tr>
					</table>
					<div class="widthb100 df jcfe aic" style="margin-top: 30px;" (click)="frmVatSubmit()">
					  <span style="font-size: 25px; font-weight: 700; color: var(--tc1);"> Update </span>
					  <ion-icon name="chevron-forward-circle" style="font-size: 50px; color: var(--tc1); margin-left: 10px;"></ion-icon>
					</div>
				</div>
			</div>
    	
    	<div class="relative ofh widthb100">
    		<!-- <div class="relative widthb20 fixed sidemenu" style="ddisplay: none;">
    			<img src="../assets/logo-white.png" class="db" style="max-height: 130px; background: #108d8e; padding: 10px 0 20px 0;" />
    			<div style="position: absolutee; bottom: 0; width: 100%; overflow: auto; height: calc( 100vh - 130px );">

    				<a *ngFor="let customer of customers">
    					{{customer.customer_name}} ( {{customer.customer_number}} )
    				</a>
    			</div>
    		</div>

    		<div class="widthb80 heightb100 fr" style="ddisplay: none; background: transparent;">

    			<div class="cform-group widthb100 dib mt1">
    			  <ion-item>
    			    <ion-label position="floating">Search by Customer#</ion-label>
    			    <ion-input type="text"></ion-input>
    			  </ion-item>
    			</div>

    			<div class="mt2" style="display: grid; grid-template-columns: 50% 50%;">
    				<div class="relative ofh">
    					<ion-slides pager>
    					  <ion-slide>
    					  	<div>
    								<img src="https://id.nadra.gov.pk/wp-content/uploads/2019/01/CNIC_page_img-1.jpg" style="max-width: 100%;" />
    					  	</div>
    					  </ion-slide>
  					    <ion-slide>
  					    	<div>
  					  			<img src="https://id.nadra.gov.pk/wp-content/uploads/2019/01/CNIC_page_img-1.jpg" style="max-width: 100%;" />
  					    	</div>
  					    </ion-slide>
					      <ion-slide>
					      	<div>
					    			<img src="https://id.nadra.gov.pk/wp-content/uploads/2019/01/CNIC_page_img-1.jpg" style="max-width: 100%;" />
					      	</div>
					      </ion-slide>
    					</ion-slides>
    				</div>
	    			<div class="" style="background: #f2f2f2; padding: 20px;">
	    				<table style="width: 100%; border-collapse: collapse;">
	    					<tr>
	    						<td>
	    							<b class="tc1">Customer Name</b>
	    						</td>
	    						<td>
	    							Sami Super Stores
	    						</td>
	    					</tr>
	    					<tr>
	    						<td>
	    							<b class="tc1">Customer Number</b>
	    						</td>
	    						<td>
	    							12358
	    						</td>
	    					</tr>
	    					<tr>
	    						<td>
	    							<b class="tc1">Classification</b>
	    						</td>
	    						<td>
	    							Key Account
	    						</td>
	    					</tr>
	    					<tr>
	    						<td>
	    							<b class="tc1">Region</b>
	    						</td>
	    						<td>
	    							WEST
	    						</td>
	    					</tr>
	    					<tr>
	    						<td>
	    							<b class="tc1">City</b>
	    						</td>
	    						<td>
	    							Jeddah
	    						</td>
	    					</tr>
	    				</table>
	    				<div class="widthb100 df jcfe aic" style="margin-top: 30px;" (click)="frmVatSubmit()">
	    				  <span style="font-size: 25px; font-weight: 700; color: var(--tc1);"> Update </span>
	    				  <ion-icon name="chevron-forward-circle" style="font-size: 50px; color: var(--tc1); margin-left: 10px;"></ion-icon>
	    				</div>
	    			</div>
    			</div>
    		</div> -->
    	</div>
    </div>
  </div>
</ion-content>