.ccard{
	border-radius: 10px;
}

table {
  color: var(--tc3);
}

table tr th{
	background: var(--tc1);
  text-transform: uppercase;
  color: #fff;
}
table tr th,
table tr td {
  font-size: 15px;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  text-align: left;

  &:hover{
  	cursor: pointer;
  }
}

.cform-group{
	/*padding-left: 0;*/
	margin: 0 !important;
}

.item_search{
	padding: 0;
	
	ion-item{
		--background: #f2f2f2;
		--padding-start: 20px;	
		--padding-end: 20px;	

		ion-label{
			/*font-weight: bold !important;*/
		}
	}
}

.app_header{
	padding: 0 0 0 50px;
	margin-bottom: 0;

	> img{
		max-width: 250px;
	}

	> div{
		a{
			cursor: pointer;
		}

		ion-icon{
			position: relative;
			top: 5px;
			font-size: 20px;
		}
	}
}

ion-slides{
	width: 100%;
	height: 100%;

	 div{
		height: 100%;
		width: 100%;

		img{
			width: 100%;
			height: 100%;
			object-position: center;
			object-fit: cover;
		}
	}
}

.cust_info{
	position: relative;

	span{
		display: block;
		width: 100%;
		color: var(--tc3);
		padding-top: .5vw;
		padding-bottom: .5vw;
		border-bottom: 1px solid #ccc;
		font-size: 13px;
	}

}
.cust_info:nth-child(1),
.cust_info:nth-child(2),
.cust_info:nth-child(3){
	display: none;
	span{
	}
}

.listing_slider{
	position: relative;

	ion-slide{
		flex-direction: column;

		img{
			display: block;
		}
		p{
			margin-top: 10px;
			display: block;
			text-align: right;
			font-size: 14px;
			width: 100%;
		}
	}
}

.listing_imgs{
	position: relative;
	width: 100%;

	div{
		width: 100%;
		flex-direction: column;
		position: relative;
		z-index: 1;

		img{
			width: 100%;
			height: 370px;
			object-fit: cover;
			object-position: center;
			display: block;
		}

		a{
			display: inline-block;
			margin-right: 10px;
			cursor: pointer;
			font-weight: bold;
			color: var(--tc1);
			font-size: 14px;
			margin-top: 10px;
			user-select: none;

		}
		a:hover{
			text-decoration: underline;
		}
	}
	p{
		margin-top: 10px;
		display: block;
		text-align: right;
		font-size: 14px;
		width: 100%;
		position: absolute;
		right: 0;
	}

	i{
		margin-top: 10px;
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 5px;
		background: var(--tc1);
		margin-right: 7px;
		cursor: pointer;
		position: relative;
    z-index: 2;
	}
}