<ion-content>
	<div class="bctc1 df jcsb aic" style="padding: 0 0 0 50px; margin-bottom: 0;">
	  <img src="../assets/logo-white.png" class="db" style="max-width: 250px;" />

	  <a (click)="logout()" class="tcw mr5"> Logout </a>
	</div>

  <div class="df aic jcc">
    <div class="listing_wrapper mx-auto" style="width: 90%; height: 100%;">

    	<div>
				<form [formGroup]="frmVatUpdate">
					<div class="widthb100 df fww jcsb ccard pt0 tl0 pb1 pr0 mt2 mb1">
						<div class="cform-group widthb33 dib">
	  				  <ion-item>
	  				    <ion-label position="">VAT</ion-label>
	  				    <ion-input type="text" formControlName="vat"></ion-input>
	  				  </ion-item>
	  				</div>

	  				<div class="cform-group widthb33 dib">
	  				  <ion-item>
	  				    <ion-label position="">Main CR #</ion-label>
	  				    <ion-input type="text" formControlName="maincr"></ion-input>
	  				  </ion-item>
	  				</div>

	  				<div class="cform-group widthb33 dib">
	  				  <ion-item>
	  				    <ion-label position="">Branch CR #</ion-label>
	  				    <ion-input type="text" formControlName="branchcr"></ion-input>
	  				  </ion-item>
	  				</div>

	  				<div class="cform-group widthb33 dib">
	  				  <ion-item>
	  				    <ion-label position="">COC #</ion-label>
	  				    <ion-input type="text" formControlName="coc"></ion-input>
	  				  </ion-item>
	  				</div>

	  				<div class="cform-group widthb33 dib">
	  				  <ion-item>
	  				    <ion-label position="">Baldiya #</ion-label>
	  				    <ion-input type="text" formControlName="baldiya"></ion-input>
	  				  </ion-item>
	  				</div>

	  				<div class="cform-group widthb33 dib">
	  				  <ion-item>
	  				    <ion-label position="">National Address</ion-label>
	  				    <ion-input type="text" formControlName="address"></ion-input>
	  				  </ion-item>
	  				</div>

	  				<!-- <div class="cust_info"> -->
		  				<div class="cform-group widthb33 dib cust_info">
	  				  	<span> <b> Division</b> {{customer_info.division}} </span>
		  				</div>

		  				<div class="cform-group widthb33 dib cust_info">
	  				  	<span> <b> Classification</b> {{customer_info.classification}} </span>
		  				</div>

		  				<div class="cform-group widthb33 dib cust_info">
	  				  	<span> <b> City</b> {{customer_info.city}} </span>
		  				</div>

		  				<div class="cform-group widthb33 dib cust_info">
	  				  	<span> <b> Sales Rep. Name</b> {{customer_info.salesRepName}} </span>
		  				</div>

		  				<div class="cform-group widthb33 dib cust_info">
	  				  	<span> <b> Sales Rep Number</b> {{customer_info.salesRepNumber}} </span>
		  				</div>

		  				<div class="cform-group widthb33 dib cust_info">
	  				  	<span> <b> Agency Category</b> {{customer_info.agencyCat}} </span>
		  				</div>
		  			<!-- </div> -->
					</div>
				</form>
			</div>

			<div class="ccard mb2 ofh">
				<!-- <h1> Customer Number </h1> -->
				<div class="p1 fl" style="width: calc( 100% - 450px );">
					<div class="cform-group widthb100 dib item_search">
					  <ion-item>
					    <ion-label position="floating">Search by Customer#</ion-label>
					    <ion-input type="text"></ion-input>
					  </ion-item>
					</div>
					<table class="widthb100">
						<thead>
							<tr>
								<th> Cust. Number </th>
								<th> Cust. Name </th>
								<th> اسم الزبون  </th>
							</tr>
						</thead>
					</table>

					<div  class="widthb100" style="height: 300px; overflow: auto;">
						<table class="widthb100 table-striped">
							<!-- <thead>
								<tr>
									<th> Customer Number </th>
									<th> Customer Name </th>
									<th> اسم الزبون  </th>
								</tr>
							</thead> -->
							<tbody>
								<tr *ngFor="let customer of customers_raw" (click)="fetchSelectedCustomer(customer.CUST_NUMBER)">
									<td>
										<span>
											{{customer.CUST_NUMBER}}
										</span>
									</td>

									<td>
										<span>
											{{customer.CUST_NAME}}
										</span>
									</td>

									<td>
										<span>
											{{customer.CUST_NAME_AR}}
										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="p1 fl" style="width: 450px">
					<ion-slides pager class="listing_slider">
					  <ion-slide>
					  	<div>
					  		<img src="{{customer_info.images.BALADIYA_CERT_IMG}}" style="max-width: 100%;" />
					  	</div>
					  	<p>Baldiya Certificate</p>
					  </ion-slide>
				    
				    <ion-slide>
				    	<div>
				  			<img src="{{customer_info.images.BR_CR_CERT_IMG}}" style="max-width: 100%;" />
				    	</div>
					  	<p>Branch Cr Certificate</p>
				    </ion-slide>
			      
			      <ion-slide>
			      	<div>
			    			<img src="{{customer_info.images.MAIN_CR_CERT_IMG}}" style="max-width: 100%;" />
			      	</div>
					  	<p>Main Cr Certificate</p>
			      </ion-slide>
		        
		        <ion-slide>
		        	<div>
		      			<img src="{{customer_info.images.NATIONAL_ADD_IMG}}" style="max-width: 100%;" />
		        	</div>
					  	<p>National Address Cr</p>	
		        </ion-slide>
	          
	          <ion-slide>
	          	<div>
	        			<img src="{{customer_info.images.VAT_CERT_IMG}}" style="max-width: 100%;" />
	          	</div>
					  	<p>VAT Certificate</p>
	          </ion-slide>
            
            <ion-slide>
            	<div>
          			<img src="{{customer_info.images.COC_CERT_IMG}}" style="max-width: 100%;" />
            	</div>
					  	<p>COC Certificate</p>
            </ion-slide>
					</ion-slides>

					<div class="widthb100 df jcfe aic" style="margin-top: 30px;" (click)="frmVatUpdateSubmit()">
					  <span style="font-size: 25px; font-weight: 700; color: var(--tc1);"> Update </span>
					  <ion-icon name="chevron-forward-circle" style="font-size: 50px; color: var(--tc1); margin-left: 10px;"></ion-icon>
					</div>
				</div>
			</div>
    </div>
  </div>
</ion-content>