:root, :host {
  --base_font_size: 1vw;
  --base_lineheight: 1vw;
  --base_margin: 1vw;
  --base_padding: 1vw;
  --base_number: 1vw;

  --body_color: #EDEAEA;
  --color_purple: #293275;
  --color_gray: #676767;
  --color_body_gray: #EDEAEA;
  --color_orange: #FE9901;

  --tc1: #15b9ba;
  --tc2: #EDEAEA;
  --tc3: #404040;
  --tcb: #000;
  --tcw: #fff;
}