<ion-content>
  <div class="bctc1 relative" style="border-radius: 0 0 50px 50px; padding: 0 0 20px 0; margin-bottom: 50px;">
    <img src="../assets/logo-white.png" class="db" style="max-width: 320px; margin: 0 auto;" />
    <a (click)="logout()" class="tcw mr5" style="position: absolute; top: 20px; right: 20px;"> Logout </a>
  </div>

  <div class="df aic jcc">
    <div class="hm_wrapper" style="max-width: 320px;">
      <form [formGroup]="frmVat">
         
        <div class="cform-group widthb100">
          <ion-item>
            <ion-label position="floating">Customer #</ion-label>
            <ionic-selectable
              formControlName="customer_dd"
              item-content
              [items]="customers"
              itemValueField="cus_number"
              itemTextField="cus_number"
              [canSearch]="true"
              (onChange)="selectCustomer($event)"
              >

              <ng-template ionicSelectableCloseButtonTemplate>
                <ion-icon name="close-circle" class="closebtn ion-select-close"></ion-icon>
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </div>

        <div class="cform-group widthb100">
          <ion-item>
            <ion-label position="stacked">Customer Name</ion-label>
            <span> {{customers.customer_name ? customers.customer_name : 'N/A'}} </span>
          </ion-item>
        </div>

        <div class="cform-group widthb100">
          <ion-item>
            <ion-label position="floating">Customer Arabic Name <b class="tc1">(As per VAT)</b></ion-label>
            <ion-input type="text" formControlName="cust_name_ar_vat"></ion-input>
          </ion-item>
        </div>

        <div class="cform-group widthb100">
          <ion-item>
            <ion-label position="floating">Customer Business name</ion-label>
            <ion-input type="text" formControlName="cust_business_name_vat"></ion-input>
          </ion-item>
        </div>

        <div class="cform-group widthb100">
          <ion-item>
            <ion-label position="floating">VAT</ion-label>
            <ion-input type="text" formControlName="vat"></ion-input>
          </ion-item>

          <div>
            <ion-input type="file" name="file_vat" formControlName="file_vat" (change)="onFileChange($event)"></ion-input>
            <ion-icon name="camera"></ion-icon>
          </div>
        </div>

        <div class="cform-group widthb100">
          <ion-item>
            <ion-label position="floating">Scan VAT</ion-label>
            <ion-input type="text" fformControlName="vat"></ion-input>
          </ion-item>

          <div>
            <ion-icon name="camera" (click)="openModal()"></ion-icon>
          </div>
        </div>

        <div class="cform-group widthb100">
          <ion-item>
            <ion-label position="floating">CR #</ion-label>
            <ion-input type="text" formControlName="maincr"></ion-input>
          </ion-item>

          <div>
            <ion-input type="file" name="file_maincr" formControlName="file_maincr" (change)="onFileChange($event)"></ion-input>
            <ion-icon name="camera"></ion-icon>
          </div>
        </div>

        <div class="cform-group widthb100">
          <ion-item>
            <ion-label position="floating">National Address</ion-label>
            <ion-input type="hidden" readonly></ion-input>
          </ion-item>

          <div>
            <ion-input type="file" name="file_address" formControlName="file_address" (change)="onFileChange($event)"></ion-input>
            <ion-icon name="camera"></ion-icon>
          </div>
        </div>

        <div class="cform-group widthb100">
          <ion-item>
            <ion-label position="floating"> Address </ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
          </ion-item>
        </div>

        <div class="widthb100 df jcfe aic btn_primary" (click)="frmVatSubmit()">
          <span> Submit </span>
          <ion-icon name="chevron-forward-circle"></ion-icon>
        </div>
      </form>
    </div>
  </div>

  <p style="width: 100%; padding: 20px 25px; font-size: 13px; line-height: 16px; color: #fff; margin-top: 20px; background: var(--tc1); border-radius: 50px 50px 0 0; text-align: center;">
  </p>
</ion-content>